body {
  font-family: "Quattrocento", serif;
  font-size: 14px;
  color: #5a3830; }

a {
  color: #0070bf;
  text-decoration: none; }
  a:hover {
    color: #0052a1; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

ul {
  padding-left: 1.2em;
  list-style-position: outside; }

html {
  position: relative;
  min-height: 100%; }

body {
  -webkit-font-smoothing: antialiased; }

:target:before {
  display: block;
  content: "";
  height: 80px;
  margin: -80px 0 0; }

.slide.fullscreen {
  display: table;
  width: 100%; }
  .slide.fullscreen .slide-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle; }

.navbar {
  text-align: left;
  text-shadow: none;
  height: 30px;
  min-height: 30px;
  z-index: 3000;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  opacity: 0.95;
  border: 0;
  float: left; }
  .navbar .nav-content {
    display: inline-block; }
    .navbar .nav-content h1 {
      font-size: 13px;
      line-height: 30px;
      font-weight: 600;
      margin: 0;
      color: #333; }

ul.navbar-nav {
  margin: 0;
  padding: 0; }
  ul.navbar-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left; }
    ul.navbar-nav li a {
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      color: #373737;
      text-decoration: none;
      padding: 0;
      margin: 0;
      line-height: 30px;
      font-size: 13px;
      margin-right: 20px; }
      ul.navbar-nav li a:hover {
        color: #DE761C;
        text-decoration: none; }
      ul.navbar-nav li a:active,
      ul.navbar-nav li a.active {
        color: rgba(255, 255, 255, 0.4); }
  ul.navbar-nav .button {
    height: 30px;
    line-height: 26px;
    -webkit-transition: none;
            transition: none;
    box-shadow: none; }
    ul.navbar-nav .button.active {
      color: white; }

.navbar-brand {
  height: 30px;
  padding: 0;
  margin: 0;
  margin-right: 30px; }
  .navbar-brand i {
    color: #DE761C; }

.footer p {
  color: #333;
  text-shadow: none;
  line-height: 3;
  margin: 0; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

nav li {
  margin: 0; }

nav a {
  color: #505659;
  text-decoration: none;
  display: block;
  font-weight: 500;
  font-size: 13px;
  -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
  nav a:hover {
    color: #2c3033; }
  nav a:active,
  nav a.active {
    color: #0070bf; }

#homepage {
  text-align: center;
  color: #eee;
  text-shadow: 1px 1px 1px #333; }
  #homepage .slide {
    background-size: cover; }
    #homepage .slide .slide-inner {
      background-color: rgba(0, 0, 0, 0.85);
      padding: 40px;
      border-radius: 3px;
      margin: 40px; }
      #homepage .slide .slide-inner h3 {
        margin-bottom: 1.5em;
        color: #DDD; }
      #homepage .slide .slide-inner p {
        margin: 0 0 1.5em;
        color: #eee;
        font-size: 125%;
        text-align: left; }
      #homepage .slide .slide-inner .nextslide {
        text-align: center; }
        #homepage .slide .slide-inner .nextslide a {
          color: #FFF; }
          #homepage .slide .slide-inner .nextslide a i {
            margin-top: 30px; }
          #homepage .slide .slide-inner .nextslide a:hover {
            color: #999999; }
    #homepage .slide.intro {
      background-image: url("images/tumblr_ns91d20RGr1sfie3io1_1280.jpg");
      text-align: center; }
      #homepage .slide.intro h1 {
        text-transform: uppercase;
        font-size: 300%;
        letter-spacing: 16px;
        border-bottom: 1px solid #FFF;
        padding-bottom: 1em;
        padding-top: 1em;
        border-top: 1px solid #FFF;
        margin-bottom: 1.5em;
        line-height: 1.5; }
    #homepage .slide.about {
      background-image: url("images/tumblr_nbrn6sRCOj1sfie3io1_1280.jpg"); }
      #homepage .slide.about .about-text {
        text-align: left; }
        #homepage .slide.about .about-text .intro {
          font-weight: 600;
          line-height: 1.5;
          text-align: center;
          font-size: 150%; }
    #homepage .slide.lidmaatschap {
      background-image: url("images/tumblr_ns91d4PTgY1sfie3io1_1280.jpg"); }
    #homepage .slide.workshops {
      background-image: url("images/tumblr_nvm0d3kven1sfie3io1_1280.jpg"); }
    #homepage .slide.contact {
      background-image: url("images/tumblr_nxysumbf5V1sfie3io1_1280.jpg"); }
  #homepage .newsletter {
    padding-top: 5em; }
    #homepage .newsletter .form-group {
      width: 50%; }
    #homepage .newsletter input.email {
      width: 100%; }

.page-404 ul {
  font-size: 16px;
  list-style: disc;
  list-style-position: inside;
  margin: 4rem 0 0 1.5em; }
