<footer class="footer">
  <div class="footer-bar">
    <div class="container">
      <ul class="footer-social">
        <li>
          <a class="github-button" href="{{ site.repos.openbrouwerij }}" data-icon="octicon-star" data-count-href="/urbanlink/openbrouwerij.nl/stargazers" data-count-api="/repos/urbanlink/openbrouwerij.nl#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star urbanlink/openbrouwerij.nl on GitHub">Star</a>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.links.share }}" data-text="De Open Brouwerij" data-hashtags="craftbeer,denhaag,diydit">Tweet</a>
        </li>
      </ul>
    <span>
      <a href="http://urbanlink.nl">
        &copy; <strong>2015 urbanlink.nl</strong>
      </a>
    </span>
      <span class="footer-separator"></span>
      <span class="footer-nav">
        <a href="/license">License</a>
        <a href="/terms">Terms</a>
        <a href="/privacy">Privacy</a>
      </span>
    </div>
  </div>
</footer>
