<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="nav-content">
      <a href="/" class="navbar-brand">
        <h1><i class="fa fa-beer"></i> DE OPEN BROUWERIJ</h1>
      </a>

      <div id="navbar" class="navbar navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- <li><a href="/about" {% if page.url contains "/about/" %} class="active"{% endif %}>About</a></li>
          <li><a href="/kickstart" {% if page.url contains "/kickstart/" %} class="active"{% endif %}>Kickstart</a></li>
          <li><a href="/lidmaatschap" {% if page.url contains "/lidmaatschap/" %} class="active"{% endif %}>Lidmaatschap</a></li>
          <li><a href="/workshops" {% if page.url contains "/workshops/" %} class="active"{% endif %}>Workshops</a></li> -->
        </ul>
      </div>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
  </div>
</nav>
