
  <header class="section-header">
    <h4>Blijf op de hoogte van de laatste ontwikkelingen</h4>
  </header>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//urbanlink.us1.list-manage.com/subscribe/post?u=313f35e20a6b9779ae19f74b3&amp;id=9b79671e5f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline validate" target="_blank" novalidate>

      <div class="form-group">
        <input type="email" name="EMAIL" class="email form-control col-xs-8" id="mce-EMAIL" placeholder="youre@awesome.com" required>
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">

    </form>
  </div>
  <!--End mc_embed_signup-->
