nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  a {
    color: $gray-dark;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 13px;
    transition: all .2s linear;

    &:hover {
      color: #2c3033;
    }

    &:active,
    &.active {
      color: $blue;
    }
  }
}
