



// Colors
// -------------------------
$font-color: #5a3830;
$light-gray: #5c6266;
$middle-gray: #45494d;
$dark-gray: #323638;

// New colors
// -------------------------
$primary: #DE761C;
$dark: #373737;
$lightgrey: #5B5B5B;
$light: #B3B3B3;


$gray-darker: #262e33;
$gray-dark: #505659;
$gray: #ebebeb;
$gray-light: #fafafa;
$gray-lighter: #fafbfc;
$blue: #0070bf;
$blue-light: #178fe5;
$navy-darker: #042943;
$navy-dark: #294b62;
$red: #eb3838;
$green: #43bf58;
